@charset "UTF-8";
/*основной цвет текста #757575*/
/*вспомогательный цвет текста #212121*/
/*акцент цвет текста #2196F3*/
/*цвет текста белый #FFFFFF*/
/*цвет фона основной #FFFFFF*/
/*цвет фона вспомагательный #F5F4FA*/
/* цвет фона в портфолио #E5E5E5 */
.body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* скрыть заголовок из потока документа */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/*Шапка сайта*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav .item {
  margin-right: 50px;
}

.site-nav .item:last-child {
  margin-right: 0px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link.current {
  color: #2196f3;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.auth-nav .item {
  margin-right: 50px;
}

.auth-nav .item:last-child {
  margin-right: 0px;
}

.auth-nav .list .item {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-nav .link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav .link__link:hover, .auth-nav .link__link:focus {
  color: #2196f3;
}

/* Иконки конверт и телефон */
.envelope {
  border: none;
  margin-right: 10px;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item:hover {
  fill: #2196f3;
}

.smartphone {
  border: none;
  margin-right: 10px;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Подчеркивание в меню */
.underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0px;
  padding: 0px;
}

.link-studio {
  position: relative;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  color: #212121;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover, .logo:focus {
  color: #2196f3;
}

.logo__accent {
  color: #2196f3;
}

/* Герой */
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero {
  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  display: block;
  margin-top: 0px;
  margin-bottom: 30px;
  color: #ffffff;
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*Кнопка героя*/
.button {
  border-radius: 4px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  height: 50px;
  text-align: center;
  border: 1px transparent;
  color: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
}

/* Модальное окно */
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opasity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Кнопка закрытия */
.button-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: 8px;
  margin-top: 8px;
  margin-left: 490px;
}

.button-close:focus .icon-close {
  fill: #2196f3;
}

.icon-close {
  fill: #000000;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-close:hover {
  fill: #2196f3;
}

/* Форма в модальном окне */
/* Заголовок */
.modal-heading {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  display: block;
  margin-bottom: 12px;
}

.terms {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Форма */
.modal-form {
  width: 528px;
  padding-left: 40px;
  padding-right: 40px;
}

.modal-comment {
  resize: none;
}

.form-field {
  /* outline: 2px solid darkmagenta; */
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-field input,
textarea {
  margin: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea {
  margin: 0px;
  padding: 15px;
}

.form-field label {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
  margin-bottom: 4px;
}

.form-field input {
  width: 448px;
  height: 40px;
}

.form-field textarea {
  width: 448px;
  height: 120px;
}

.form-field textarea::-webkit-input-placeholder {
  font-weight: 300px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea:-ms-input-placeholder {
  font-weight: 300px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::-ms-input-placeholder {
  font-weight: 300px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field textarea::placeholder {
  font-weight: 300px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.link-contract {
  color: #2196f3;
  text-decoration: underline;
}

/* Иконки внутри форм */
.form-field {
  position: relative;
}

.form-field:hover .icon-modal-name {
  fill: #2196f3;
}

.form-input:focus-within {
  color: #2196f3;
  outline: none;
}

.form-field input:hover,
.form-field input:focus {
  border: 1px solid #2196f3;
}

.form-field textarea:hover,
.form-field textarea:focus {
  border: 1px solid #2196f3;
}

.icon-modal-name {
  position: absolute;
  top: 30px;
  left: 15px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Чекбокс в модальном окне*/
.icon-checkbox {
  /* -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none; */
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  padding: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-checkbox-sprite {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  margin-right: 7px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-checkbox:checked + .icon-checkbox-sprite {
  background-color: #2196f3;
  background-image: url("../images/full-check.svg");
  background-size: contain;
  background-origin: border-box;
  border: 2px solid #2196f3;
}

/* Кнопка отправить */
.button-send {
  border-radius: 4px;
  padding-left: 55px;
  padding-right: 55px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  border: 1px transparent;
  color: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  margin-top: 40px;
  margin-bottom: 40px;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
  margin-left: 0px;
  width: 270px;
  height: 251px;
}

/* Антена */
.antenna {
  border: none;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.icon-antenna {
  margin-left: 103px;
}

/* Часы */
.clock {
  border: none;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.icon-clock {
  margin-left: 103px;
}

/* Диаграмма */
.diagram {
  border: none;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.icon-diagram {
  margin-left: 103px;
}

/* Астронавт */
.astronaut {
  border: none;
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.icon-astronaut {
  margin-left: 103px;
}

.detail .title {
  margin-left: 0px;
  margin-top: 30px;
  margin-right: 0px;
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: bold;
}

.detail .text {
  margin: 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

/*Чем мы занимаемся*/
.activity {
  padding-bottom: 94px;
}

.activity-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
}

.activity-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff;
  width: 250px;
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.development-options::before {
  display: inline-block;
  content: "";
  width: 50px;
  height: 50px;
  background-color: rgba(47, 48, 58, 0.8);
  opacity: 0.9;
  position: absolute;
  width: 100%;
  height: 30%;
  left: 0;
  bottom: 0;
}

.development {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.development-options {
  width: 370px;
  position: relative;
}

/*Наша команда*/
.section {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
}

.person {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.link:hover,
.link:focus {
  color: #2196f3;
}

.name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 30px;
  margin-bottom: 9px;
}

.text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin: 0px;
}

/* Социальные сети */
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* Инстаграм */
.link-instagram {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-instagram:hover .icon-instagram,
.link-instagram:focus .icon-instagram {
  fill: #ffffff;
  outline: none;
}

.icon-instagram {
  fill: #afb1b8;
}

/* Твиттер */
.link-twitter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-twitter:hover .icon-twitter,
.link-twitter:focus .icon-twitter {
  fill: #ffffff;
  outline: none;
}

.icon-twitter {
  fill: #afb1b8;
}

/* Фейсбук */
.link-facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-facebook:hover .icon-facebook,
.link-facebook:focus .icon-facebook {
  fill: #ffffff;
  outline: none;
}

.icon-facebook {
  fill: #afb1b8;
}

/* Линкедин */
.link-linkedin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-linkedin:hover .icon-linkedin,
.link-linkedin:focus .icon-linkedin {
  fill: #ffffff;
  outline: none;
}

.icon-linkedin {
  fill: #afb1b8;
}

/* Постоянные клиенты */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Клиент1 */
.icon-client1 {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client1:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.client1 {
  fill: #afb1b8;
}

/* Клиент2  */
.icon-client2 {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client2:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.client2 {
  fill: #afb1b8;
}

/* Клиент3  */
.icon-client3 {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client3:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.client3 {
  fill: #afb1b8;
}

/* Клиент4  */
.icon-client4 {
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client4:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.client4 {
  fill: #afb1b8;
}

/* Клиент5  */
.icon-client5 {
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client5:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.client5 {
  fill: #afb1b8;
}

/* Клиент6  */
.icon-client6 {
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client6:hover {
  fill: #2196f3;
  border: 1px solid #2196f3;
}

.client6 {
  fill: #afb1b8;
}

.title-clients {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
}

.list-clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

/* Футер*/
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.conteiner-footer {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Оформление шрифтов в футере */
.logo-footer {
  margin-bottom: 20px;
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.2;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-footer:hover, .logo-footer:focus {
  color: #2196f3;
}

.accent {
  color: #2196f3;
}

.contacts .title-address {
  margin-bottom: 9px;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .title-address:hover, .contacts .title-address:focus {
  color: #2196f3;
}

.contacts .title {
  margin-bottom: 9px;
  margin-top: 0px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-transform: none;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts .title:hover, .contacts .title:focus {
  color: #2196f3;
}

.footer .title-color {
  color: #ffffff;
}

/* Блоки */
/* Общий ul футтера*/
.list-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* общий */
.social-networks {
  padding: 0px;
  margin-left: 70px;
}

/* лого, адрес */
.contacts {
  width: 231px;
  font-style: normal;
}

.logo-footer,
.title,
.title-address {
  display: block;
  width: 231px;
}

.welcome {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  display: block;
  margin-bottom: 20px;
}

/* соцсети */
.social-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-star;
      -ms-flex-pack: flex-star;
          justify-content: flex-star;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  width: 206px;
}

/* Социальные сети */
/* Инстаграм */
.link-instagram {
  margin-right: 10px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-instagram:hover {
  background-color: #2196f3;
}

.icon-instagram-footer {
  fill: #ffffff;
}

/* Твиттер */
.link-twitter {
  margin-right: 10px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-twitter:hover {
  background-color: #2196f3;
}

.icon-twitter-footer {
  fill: #ffffff;
}

/* Фейсбук */
.link-facebook {
  margin-right: 10px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-facebook:hover {
  background-color: #2196f3;
}

.icon-facebook-footer {
  fill: #ffffff;
}

/* Линкедин */
.link-linkedin {
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-linkedin:hover {
  background-color: #2196f3;
}

.icon-linkedin-footer {
  fill: #ffffff;
}

/* Кнопка подписаться */
.button-subscribe {
  border-radius: 4px;
  padding-left: 29px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  min-width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  text-align: center;
  border: 1px transparent;
  color: #ffffff;
  background-color: #2196f3;
  border: #2196f3;
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-star;
      -ms-flex-pack: flex-star;
          justify-content: flex-star;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 12px;
}

.icon-send {
  fill: #ffffff;
  margin-left: 10px;
}

.subscribe {
  margin-left: 93px;
}

.subscribe-email {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  padding-left: 16px;
  color: #ffffff;
}

.subscribe-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-star;
      -ms-flex-pack: flex-star;
          justify-content: flex-star;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe-section.input::-webkit-input-placeholder {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-section.input:-ms-input-placeholder {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-section.input::-ms-input-placeholder {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-section.input::placeholder {
  font-weight: 400px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Заголовок портфолио */
.portfolio-header {
  color: #212121;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
}

/* Кнопки портфолио */
.conteiner-portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button-portfolio {
  border-radius: 4px;
  padding-left: 22px;
  padding-right: 22px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 38px;
  text-align: center;
  border: 1px transparent;
  color: #212121;
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio:focus, .button-portfolio:hover {
  color: #ffffff;
  background-color: #2196f3;
}

/* Убрать точки списка портфолио */
.list-portfolio {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

/* Линия в хеддере на всю ширину экрана */
.line {
  border-bottom: 1px solid #ececec;
}

/* Тень при ховере на список страниц портфолио */
.block:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* Голубой ховер с текстом на картинку портфолио  */
.actions {
  position: relative;
  overflow: hidden;
}

.block:hover .actions::before {
  opacity: 0.8;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.actions::before {
  display: inline-block;
  content: "";
  background-color: #2196f3;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block:hover .actions-text {
  opacity: 1;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}

.actions-text {
  font-weight: 300;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  width: 322px;
  height: 168px;
}

/* Текст в секции списка портфолио */
.section-portfolio .link {
  color: #212121;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* Оформление списка портфолио */
.section-portfolio .conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.list-portfolio .block {
  margin-right: 30px;
  margin-bottom: 30px;
  width: calc((100% - 30px * 2) / 3);
  border: 1px solid #eeeeee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.list-portfolio .block:nth-child(3n) {
  margin-right: 0px;
}

.list-portfolio .block:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

/* Паддинги секций с кнопками, секции со списком, текста в портфолио */
.section-portfolio {
  padding-top: 50px;
  padding-bottom: 94px;
}

.portfolio {
  padding-top: 94px;
}

.block .link {
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.block .portfolio-text {
  margin-top: 4px;
  margin-left: 24px;
  margin-bottom: 20px;
}
/*# sourceMappingURL=main.css.map */