/* Постоянные клиенты */
.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.icon-client1,
.icon-client2,
.icon-client3,
.icon-client4,
.icon-client5,
.icon-client6 {
  width: 170px;
  height: 90px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client1,
.icon-client2,
.icon-client3,
.icon-client4,
.icon-client5,
.icon-client6 {
  &:hover {
    fill: $accent-color;
    border: 1px solid $accent-color;
  }
}

.client1,
.client2,
.client3,
.client4,
.client5,
.client6 {
  fill: #afb1b8;
}

.title-clients {
  margin-top: 0px;
  margin-bottom: 50px;

  color: $title-text-color;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  font-weight: 700;
}

.list-clients {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
